@import url(components/navbar.css);
@import url(components/container.css);
@import url(components/cards.css);
@import url(components/buttons.css);

body {
  font-family: futura;
  color: white;
}
h1, h2 {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
}
ul li {
  display: inline;
  margin: 0 16px;
}
.shadow {
  box-shadow: 0px 3px 15px rgba(1,1,1,0.2);
}
