.cards {
  display: flex;
  flex-wrap: wrap;
}
.card-full {
  flex:1 1 100%;
}
.card-half {
  flex: 1 0 45%;
}
.card {
  padding: 20px;
  margin: 8px;
  height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h2 {
  margin-bottom: 16px;
}
.card-btn-box {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1230px) {
  .card-half {
    flex:1 1 100%;
  }
  .container {
    width: auto;
    margin: 0 8px;
  }
}
@media (max-width: 1230px) {
  .container {
    width: auto;
    margin: 0 4px;
  }
}

