.navbar {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  color: black;
}
.navbar-toggle-menu {
  display: none;
}
.navbar input {
  padding: 3px;
}
.navbar input {
  font-size: 16px;
}
#logo {
  width: 80px;
}
@media (max-width: 1230px) {
  #logo {
    width: 40px;
  }
  .navbar ul {
    display: none;
  }
  .navbar-toggle-menu {
    display: block;
  }
  .navbar-toggle-menu img {
    width: 40px;
  }
}

@media (max-width: 700px) {
  #logo {
    width: 40px;
  }
  .navbar ul {
    display: none;
  }
  .navbar-toggle-menu {
    display: block;
  }
  .navbar-toggle-menu img {
    width: 40px;
  }
}
